
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.container {
  height: 747px;
  width: 747px;
  display: grid;
  background-color: #000;
  grid-template-columns: 231px 91px 337px 61px;
  grid-template-rows: 49px 271px 31px 319px 41px;
  gap: 9px;
}


.item {
    background-color:#F0F1EC;
}


.blue {
  display: flex;
  background-color:  #004592;
  text-align: left;
  padding-left: 23px;
  align-items: center;
  grid-column: span 2;
  grid-row: span 2;
}

.white1 {
  grid-column: span 2;
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 23px;
}

.black1 {
  background-color: #232629;
  /* grid-column: span 2; */
  display: flex;
  /* justify-content: end; */
  align-items: center;
}

.white2 {
  grid-row: span 2;
}

.white2 img {
  width: 337px;  
  height: 311px;
  object-fit: cover;
}

.white3 {
  /* border-right: solid black 10px; */
}

.white4 {
  border-top: solid black 10px;
  grid-row: span 2;
} 

.black2 {
  background-color: #232629;
  grid-column: span 2;
}

.yellow {
  background-color: #F9D01E;
  grid-row: span 2;
}

.red1 {
 background-color: #E72F24; 
}

.blue2 {
  display: flex;
  background-color:  #004592;
  grid-column: span 2;
  border-left: solid black 10px;
  
  color: white;
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 23px;
}

.red {
  /* background-color: #E72F24;  */
  border-bottom: solid black 10px;  
}




.sec-left {
  display: flex;
  flex-direction: column;
  gap:0.5rem;
  /* padding:3rem;    */
  width: 60%; 
  /* justify-content:center; */
  /* align-items:center; */
  height: 100%; /* for align vertically*/
}

.btn {
  background-color: #F9D01E;
  font-size: 2rem;
  padding-left: 10px;
}

.sec-right {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  gap:1rem;
  width: 90%;
}

.card {
  display: flex;
  background-color:rgb(241, 241, 241);
  min-width: 600px;
  max-width: 1200px;
  max-height: 200px;
  min-height: 200px;


}



.content {
  padding:10px;
}


.title {
  font-size: 6rem;
  margin: 0;
  color:#F0F1EC;
}

.name {
  font-size: 1.5rem;
  margin: 0;
}

.text {
  font-size: 1.5rem;
  margin: 0;
}


.quote {
  text-align: justify;
  font-style: italic;
}


.black2 img {
  width: 437px;  
  height: 319px;
  object-fit: cover;
}



footer {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  margin-top: 40px;
  text-align: right;
  color: midnightblue;
} 


